# OS
.DS_Store

# dev
## sveltekit
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

## rust
/target

# editor
.vscode/*
!.vscode/extensions.json

# testing
*test*
*playground*
*.jpg

# other filetypes i dont use
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
