# OS
.DS_Store

# dev
## sveltekit
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

## rust
/target

# editor
.vscode/*
!.vscode/extensions.json

# testing
*Test data*
*Test_data*
*test data*
*test_data*
*playground*
*.jpg

# other filetypes i dont use
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
