<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>MindNode</string>
	<key>id</key>
	<string>122C6DD5-B048-494A-A17F-27F5BAC4A819</string>
	<key>title</key>
	<string>colors light</string>
	<key>version</key>
	<integer>4</integer>
</dict>
</plist>
